# Copy this file to /home/ubuntu/sgcc-trust-data-space/.server.env on the server
# and adjust values only when you intentionally want to override application.yml defaults.

SGCC_PLATFORM_PORT=8088

SGCC_MYSQL_URL=jdbc:mysql://127.0.0.1:3306/sgcc_platform?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai&characterEncoding=utf8
SGCC_MYSQL_USERNAME=sgcc_app
SGCC_MYSQL_PASSWORD=22b607b72faabc1d52785a3e7a841ac8

SGCC_REDIS_HOST=127.0.0.1
SGCC_REDIS_PORT=6379
SGCC_REDIS_PASSWORD=4ce8ff831aaa88914fbeeedcb5a58d8f

SGCC_POSTGRES_URL=jdbc:postgresql://127.0.0.1:5432/sgcc_meta
SGCC_POSTGRES_USERNAME=sgcc_pg
SGCC_POSTGRES_PASSWORD=ef1a9b781475b4c005771ccb5cffff18

SGCC_IPFS_API_URL=http://127.0.0.1:5001
SGCC_IPFS_GATEWAY_URL=http://127.0.0.1:8080
SGCC_PRIVACY_BASE_URL=http://127.0.0.1:8010

SGCC_CHAIN_GROUP_ID=group0
SGCC_CHAIN_SERVICE_USER_NAME=sgcc-demo-service
SGCC_CHAIN_SERVICE_PRIVATE_KEY=a9769ff0da940c90d2cf62a4e66c0dd7aae76c9d8e1a35422b5b5a43ef870d95
SGCC_CHAIN_SERVICE_ADDRESS=0x1077c260eadd22145bdb2221be0033fd23a2504d
SGCC_WEBASE_QINGDAO_BASE_URL=http://127.0.0.1:5100/WeBASE-Front
SGCC_WEBASE_WEIFANG_BASE_URL=http://127.0.0.1:5101/WeBASE-Front
SGCC_WEBASE_RELAY_BASE_URL=http://127.0.0.1:5102/WeBASE-Front
